/**{background-color: #A0F2F2}*/


.phone{
box-sizing: border-box;
width: 250px;
height: 480px;
background: black;
border-radius: 30px;
/*倒圓角*/
border-width: 3px;
/*邊框粗細*/
border-style: solid;
/*邊框樣式*/
border-color: #AEAEAE;
/*邊框顏色*/
padding: 5px;

}


.shot{
box-sizing: border-box;
/*避免變形*/
width: 7px;
height: 7px;
border-radius: 50%;
/*變圓形*/
position: absolute;
/*定位方向*/
top:25px;
left: 130px;
background-color:white;
}

.ear{
box-sizing: border-box;
width: 8px;
height: 8px;
border-radius: 50%;

position: absolute;
top:40px;
left: 90px;
background-color: white;

}


.earr{
box-sizing: border-box;
width: 45px;
height: 3px;

position: absolute;
top:43px;
left: 110px;
background-color: white;

}


.Screen{
box-sizing: border-box;
width: 220px;
height: 360px;

position: absolute;
top:65px;
left: 23px;
background-color: white;
/*顏色*/
/*background-image: url(imges_phone/manage-apps-in-folder.jpg);*/
background-size: 220px 360px;
border-radius: 3px;

}


.home{
box-sizing: border-box;
width: 40px;
height: 40px;
border-radius: 50%;

border-width: 2px;
border-style: solid;
border-color: #DDDADA;
padding: 5px;


position: absolute;
top:435px;
left: 115px;
background-color: black;

}


.Push{
box-sizing: border-box;
width: 10px;
height: 15px;

position: absolute;
top:65px;
left: 6px;
background-color: black;

}


.Push2{/*側邊扭01*/
box-sizing: border-box;
width: 10px;
height: 15px;

position: absolute;
top:95px;
left: 6px;
background-color: black;

}

.Push3{/*側邊扭02*/
box-sizing: border-box;
width: 10px;
height: 15px;

position: absolute;
top:125px;
left: 6px;
background-color: black;

}






